{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            strona
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/create_poll.css' %}">
        {% endblock %}
    </head>


<body>
{% block content %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
    <div>
    <div class="question-input">
        {{ question_form.text  }}
    </div>
    </div>
    {{ answer_formset.management_form }}
    {% for form in answer_formset %}
    <div class="form-row">
        {{ form.as_p }}
    </div>
    {% endfor %}
    <div class="form-row" id="empty-row" style="display: none">
        {{ answer_formset.empty_form.as_p }}
    </div>
    <div>
        <input type="submit" value="Save poll" class="submit-button">
        <a class="add-new-form" href="#"><button class="add-answer"><i class="fas fa-plus"></i></button></a>
    </div>
    </form>
</div>
{% endblock %}
</body>

{% block extra_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/color/jquery.color/jquery.color-2.1.2.min.js"></script>
<script type='text/javascript'>

    function updateEmptyFormIDs(element, totalForms){
        let thisInput = element
        let currentName = element.attr('name')
        let newName = currentName.replace(/__prefix__/g, totalForms)

        thisInput.attr('name', newName)
        thisInput.attr('id', "id_" + newName)

        let newFormRow = element.closest(".form-row");
        let newRowId = "row_id_" + newName
        newFormRow.attr("id", newRowId)

        newFormRow.addClass("new-parent-row")
        let parentDiv = element.parent();
        parentDiv.attr("id", "parent_id_" + newName)

        let inputLabel = parentDiv.find("label")
        inputLabel.attr("for", "id_" + newName)

        return newFormRow
    }

    $('.add-new-form').click(function(e) {
        e.preventDefault()
        let formId = "id_form-TOTAL_FORMS"
        let emptyRow = $("#empty-row").clone();
        emptyRow.attr("id", null)
        emptyRow.removeAttr("style")
        let totalForms = parseInt($('#' + formId).val());
        let newFormRow;
        emptyRow.find("input, select, textarea").each(function (){
            newFormRow = updateEmptyFormIDs($(this), totalForms)
        })

        $(".form-row:last").after(newFormRow)

        $('#' + formId).val(totalForms + 1);

        $('html, body').animate({
            scrollTop: newFormRow.offset().top - 100
        }, 500, function(){
            newFormRow.animate({
                backgroundColor: "#fff"
            }, 1500)
        });
    });

</script>

{% endblock %}

