{% extends "base.html" %}
{% load static %}
{% block extra_css  %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}


{% block content %}
    <header>
        <div class="header-text">
            <h1>Log in</h1>
            <p>If you don't have an account yet, <a href="{% url 'register' %}">you can register here</a></p>
        </div>
    </header>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-div">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="log in" class="submit-button">
                <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            </div>
        </form>


{% endblock %}