{% extends 'base.html' %}
{% load static %}
{% block extra_css  %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    {% if validlink %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-div">
                    {{ form.as_p }}
                </div>
            <p><input type="submit" value="Zmień hasło" class="submit-button"></p>
            </div>
        </form>
    {% else %}
        <p>Something went wrong, try again</p>
    {% endif %}
{% endblock %}