{% extends 'base.html' %}
{% load static %}
{% block extra_css  %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div class="header-text">
            <h1>Forgot password?</h1>
        </div>
    </header>

    <form action="." method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-div">
                {{ form.as_p }}
            </div>
        <p><input type="submit" value="Send e-mail" class="submit-button"></p>
        </div>
    </form>
{% endblock %}